<li class="media new_comment">
  <a class="pull-left" href="#">
    <img class="comment-image" src="<%= MapBlog.currentUser.get("thumbnail_url") %>" style="width: 32px; height: 32px; border: 0;">
  </a>
  <div class="media-body">
    <textarea class="new_comment" placeholder="Write a comment..."></textarea>
  </div>
</li>
