<h2>Sign Up</h2>
<form action="<%= users_url %>" method="POST">
  <input type="hidden" name="autheticity_token" value="<%= form_authenticity_token %>">

  <input type="text" name="user[email]" placeholder="Email">
  <br>

  <input type="password" name="user[password]" placeholder="Password">
  <br>

  <input type="submit" value="Sign Up">
</form>
