<div class="transparent-background">
  <h2 class="standard-left-margin"><%= mapTrip.escape("title") %></h2>
  <div class="row">
    <div class="span5">
      <div id="map"></div>
    </div>
    <div class="span7">
      <div class="galleria"></div>
    </div>
  </div>

  <div id="trip_info">
    <div class="description"> <%= mapTrip.escape("description") %> </div> 
    <a class="btn btn-primary pull-right" href="#/<%= mapTrip.id %>/edit"><i class="fa fa-pencil"></i> Edit</a>
  </div>

  <script>
    $(document).ready(function() {
      var selectedColor = "#a0e5ce";
      var deselectedColor = "#1C625E";
    }); 

    var fileUploadErrors = {
      maxFileSize: 'File is too big',
      minFileSize: 'File is too small',
      acceptFileTypes: 'Filetype not allowed',
      maxNumberOfFiles: 'Max number of files exceeded',
      uploadedBytes: 'Uploaded bytes exceed file size',
      emptyResult: 'Empty file upload result'
    };

  </script>

  <div class="comments">
    <ul class="media-list comments">
    </ul>
  </div>
<div class="row">
  <div class="container span11" id="photo_loader">
  </div>
</div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    console.log("fileupload initialize script run");
    // Initialize the jQuery File Upload widget:
    $('#fileupload').fileupload({
      limitMultiFileUploads: 3,
      limitConcurrentUploads: 3 
    });
    // Load existing files:
    var mapTripUrl = "/map_trips/" + "<%= mapTrip.id%>" +"/showJFU"
    //$.getJSON($('#fileupload').prop('action'), function (files) {
    $.getJSON(mapTripUrl, function (files) {
      files = files.files;
      var fu = $('#fileupload').data('blueimpFileupload'), 
      template;
      fu._adjustMaxNumberOfFiles(-files.length);
      template = fu._renderDownload(files)
      .appendTo($('#fileupload .files'));
      // Force reflow:
      fu._reflow = fu._transition && template.length &&
      template[0].offsetWidth;
      template.addClass('in');
      $('#loading').remove();
    });

  });
</script>
