<div class="row">
<a href="#/new" class="btn">New Map Trip</a>
</div>
<div class="row">
  <div class="span3">
  </div>
  <div class="map_trips span6">
  <h3>Your Map Trips</h3>
  <hr>
  </div>
  <div class="span3">
  </div>
</div>

