<div class="row">
</div>
<div class="row">
  <div class="span2">
  </div>
  <div class="span8 transparent-background">
    <a href="#/new" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Map Trip</a>
    <h3>Your Map Trips</h3>
    <hr>
    <div class="map_trips">
    </div>
  </div>
  <div class="span2">
  </div>
</div>

<div class="row">
  <div class="span2">
  </div>
  <div class="span8 transparent-background">
    <h3>Public Map Trips</h3>
    <hr>
    <div class="public_map_trips">
    </div>
  </div>
  <div class="span2">
  </div>
</div>
