<h1><%= title %></h1>
<h2> Where did you go? </h2>
<form class="new-map-trip-form">

  <input type="text" name="map_trip[title]" placeholder="title">
  <br>

  <input type="text" name="map_trip[description]" placeholder="description">
  <br>

  <label>Sharing</label>
  <input type="radio" name="map_trip[shared]" value="true">Public<br>
  <input type="radio" name="map_trip[shared]" value="false" checked>Private<br>

  <input type="submit" value="<%= buttonText %>">
</form>
