<div class="span4">
</div>
<div class="span4 sign-in">
  <div class="sign-in-content">
    <h3>Sign In</h3>
    <form class="sign_in_form">
      <input type="text" name="user[email]" placeholder="Email">
      <br>
      <input type="password" name="user[password]" placeholder="Password">
      <br>
      <br>
      <input class="btn btn-primary no-gradient" type="submit" value="Sign In">
    </form>
    <h5><a href="#users/new"><i class="fa fa-plus"> <i class="fa fa-user"></i></i> Sign Up Today!</a></h5>
    
  </div>
</div>
<div class="span4">
</div>
