// Place all the styles related to the MapTrips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.galleria {
  height: 468px;
  width: 624px;
  border: 0px solid #d8d8d8;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  border-bottom-width: 3px;
  float: left;
}

#photo_loader {
  clear: both;
}

#trip_info {
  clear: both;
}

#map { 
  border: 0px solid #d8d8d8;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #fff;
  border-bottom-width: 3px;
  float: left;
  height: 468px; 
  width: 468px;
}

h5.comment-username {
  margin: 0;
}

p.comment-paragraph {
  margin: 0;
}
img.comment-image {
  width: 32px;
  height: 32px;
  margin: 0px 0px 0px 0px;
  border: 0px solid #d8d8d8;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
}

textarea.new_comment {
  margin: 0;
}

li.media {
  margin-top: 10px;
}

div.map_trip_buttons {
  display: inline;
  float: right;
  vertical-align: middle;
}
