<img class="nav-img" src="<%= user.get("thumbnail_url") %>"></img>
<p><%= user.get("username") %></p>
<a class="sign-out-button" href="/session/backbone_signout"><i class="fa fa-sign-out sign-out-button"</a>
