<img class="nav-img" src="<%= user.get("thumbnail_url") %>"></img>
<p><a href="#/users/<%= user.id %>"><%= user.get("username") %></a></p>
<a class="sign-out-button" href="/session/backbone_signout"><i class="fa fa-sign-out sign-out-button"</a>
